#header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  background-color: black;
  color: white;
  padding: 25px;
  font-size: 30px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.container {
  width: 1100px;
  height: 750px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.col {
  vertical-align: top;
  display: inline-block;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 45%;
  padding-right: 20px;
  padding-left: 20px;
}

.img {
  width: 400px;
  height: 525px;
  border: 2px solid grey;
}

.text {
  max-width: 600px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
.p {
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 30px;
}

h3 {
  font-weight: normal;
}
u {
  color: blue;
}

#products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.product {
  text-align: center;
  margin: 20px;
  width: 15em;
  height: 17em;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: white;
}

.product-img {
  width: 80%;
  height: 45%;
  transition: 0.3s;
}

.product-img:hover {
  width: 90%;
  height: 50%;
}

.product-img:hover {
  width: 100%;
}

.product-title {
  font-size: 1em;
  height: 3.5em;
  overflow: hidden;
}

.product-link {
  text-decoration: none;
  color: darkred;
}

.product-link:hover {
  color: black;
}

#page-container {
  text-align: center;
}

#product-img {
  padding: 20px;
  border: 1px black solid;
}

#product-price {
  font-size: large;
  font-weight: bold;
  padding-bottom: 20px;
}

#product-description {
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
}

#add_button {
  width: 150px;
  height: 30px;
  background-color: cornflowerblue;
  border-radius: 10px;
}

#order-header {
  text-align: center;
}

#orders-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  flex-direction: column;
}

.order {
  text-align: left;
  margin: 20px;
  width: 50%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: white;
  align-self: center;
}

.order-title {
  font-size: 1em;
  height: 2em;
  overflow: hidden;
}

.list-item {
  margin-bottom: 5px;
}

body {
  background-color: #f8f8f8;
}

select {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkOut {
  flex-wrap: wrap;
  margin: 0 -16px;
}

.checkOutContainer {
  width: 50%;
  margin: auto;
  background-color: #c2c0c0;
  padding: 5px 20px 15px 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
}

input[type="text"] {
  width: 97%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.cart {
    width: 100%;
    margin: auto;
    background-color: #c2c0c0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
}

.col-25 {
  padding: 15px;
  -ms-flex: 25%;
  flex: 25%;
}

p {
  color: black;
  padding-left: 30px;
}

@media (max-width: 800px) {
  .col-25 {
    -ms-flex: 25%;
    flex: 25%;
  }
  .col-75 {
    -ms-flex: 75%;
    flex: 75%;
  }
}

/*If screen less than 580px */
@media (max-width: 580px) {
  #header {
    flex-direction: column;
    padding: 10px;
  }
  .product {
    text-align: center;
    width: 90vw;
    height: 100vw;
    border-bottom: 1px gray solid;
    margin-bottom: 20px;
    background-color: white;
    padding-top: 15%;
  }
}
